/frontend/.DS_Store
/frontend/node_modules/

# React Router
/frontend/.react-router/
/frontend/build/
/server/target/

.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
